*{
	padding: 0px;
	margin: 0px;
	height: 100%
}

#wrapper{
	height: 80%;
	width: 60%;
	margin: 0 auto;
	border: 1px solid grey;
	position: relative;
}

#box{
	height: 200px;
	width: 400px;
	background: #ccc;
	margin: 0 auto;
	position: relative;
	top: 30%;
}

#radius-1{
	height: 50px;
	width: 50px;
	background: #fc0;
	border-radius: 0 0 50px 0;
}

#radius-2{
	height: 50px;
	width: 50px;
	background: #fc0;
	border-radius: 50px 0 0 0;
	position: absolute;
	right: 0;
	bottom: 0;
}
